.header-wrapper {
    height: 60px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.header-inner {
    max-width: var(--width);
    height: 100%;
    margin: 0 auto;
    background-color: #ccc;
}

.header-container {
    padding: 0 25px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search {
    width: 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-search-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 16px;
    appearance: textfield;
}

.header-search-spliter {
    width: 1px;
    height: calc(100% - 10px);
    background: rgba(22, 24, 35, .12);
    position: absolute;
    right: 45px;
}


.header-search-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}